body{
    color:rgb(101, 43, 227);
    background-color: rgb(103, 105, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif} 

.center{
    text-decoration:rgb(131, 133, 133);
}

h3{
    color:blueviole;
    }