body{
    color:rgb(179, 31, 103);
    background-color: grey ;
    font-family: Arial, Helvetica, sans-serif;
}

ul{display:flex;
justify-content: space-between; 
list-style-type: style type none;
align-items: center ; 
padding: 16px;}

a{color:white;
text-decoration: none; }

img{width:150px;
height: 150px;
border-radius:50%;
border: 5px solid rgb(89, 3, 194); 
}
.center {
    text-align: center;
}
h1{color:purple;
  }
h3{ color:darkturquoise}

footer img  {
    width: 40px;
    height:40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin:20px;
}
footer p {
    margin-top: 2px;
 }

 .container{ 
    padding:0px 50px;
 }

 nav a:hover{
    color:rgb(68, 72, 71);
  }
  .btn{ 
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
    color:var(--btnFontColor);
    background-color: var(--btnBg);  
  } 

  .light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }

  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  } 
